<div class="welcome">
  <p id="start-loading">Press here to start loading</p>
  <div style="display: none;" id="loading">
    <p class="heading-loadingComponents">Loading Components:</p>
    <div class="group">
      <p class="component">User Interface</p>
      <div id="ui" class="loadAnimation">◜</div>
    </div>
    <div class="group">
      <p class="component">Audio</p>
      <div id="audio" class="loadAnimation">◜</div>
    </div>
    <div class="group">
      <p class="component">Graphics</p>
      <div id="graphics" class="loadAnimation">◜</div>
    </div>
  </div>
</div>